* {
  margin: 0px;
  padding: 0px;
}
body {
    background: linear-gradient(270deg, #fda085, #f6d365);
    font-family: "Calibri";
    font-weight: 500;
}
.upphead {
  background: #ff7939;
  border-bottom: 1px solid black;
  text-align: center;
}
.uphtext {
  font-size: 40px;
  font-family: sans;
  font-style: italic;
  margin: 50px 0px;
}
.button {
  background: black;
  font-size: 20px;
  width: 150px;
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  color: white;
  border-radius: 5px;
  margin-bottom: 50px;
  font-weight: 900;
}
a{
  text-decoration: none;
}
header{
  background-color: #ff7939;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  padding: 15px;

}
img {
  height: 70px;
  float: left;
}
nav {
  margin-top: 15px;
  float: right;
}
.container:after {
    content: '';
    display: table;
    clear: both;
}
nav li {
  display: inline-block;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 0px 10px;
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 50px;
  padding: 15px;
}
nav a:hover {
  border: 1px;
  border-radius: 10px;
  cursor: pointer;
  color: #FF8700;
  background-color: white;
}
.articles {
  float: left;
  width: 65%;
  padding: 10px;
  border: 1px solid black;
}
.article {
  height: 390px;
  padding: 20px;
  margin: 10px 0;
  border: 1px solid black;
}
.article_text {
  float: left;
  width: 500px;
}
.heading {
  font-size: 40px;
}
.desc {
  font-size: 20px;
  color: rgba(0,0,0,0.9);
}
.date {
  font-size: 15px;
  color: rgba(0,0,0,0.9);
  margin-top: 5px;
}
.article_img {
  height: 150px;
  width: 150px;
  background-image: url(https://picsum.photos/150);
  float: right;
}
.sidebar {
  float: right;
  border: 1px solid black;
  width: 30%;    padding: 10px;
}
h3 {
  margin-top: 10px;
}
.sidebar_img {
  height: 150px;
  width: 150px;
  background-image: url(https://picsum.photos/150);
  margin: 10px 0px;
}
.write-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
label {
    text-align: center;
}
.write-container .input, .write-container textarea {
    width: 60%;
}
input, textarea {
    font-size: 20px;
    padding: 8px;
}
